doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    title Market
    link(rel='icon', type='image/x-icon', href='img/favicon.ico')
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    link(rel="stylesheet" href="plugins/scroll/jquery.mCustomScrollbar.css")
    link(rel="stylesheet" href="plugins/fancybox/dist/jquery.fancybox.min.css")
    link(rel="stylesheet" href="plugins/slick/slick/slick.css")
    link(rel="stylesheet" href="plugins/slick/slick/slick-theme.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/mediaqueries.css")
    <!--Разработка Роман Крутько @somerom somerom71@gmail.com-->
    block head_end

  body
    block content
    script(src="js/jquery-3.3.1.min.js")
    script(src="plugins/fancybox/dist/jquery.fancybox.min.js")
    script(src="plugins/slick/slick/slick.min.js")
    script(src="plugins/scroll/jquery.mCustomScrollbar.js")
    script(src="plugins/inputmask/dist/jquery.inputmask.min.js")
    script(type="text/javascript", src="js/script.min.js")
    block body_end
