.container
  .breadcrumbs
    ul.breadcrumbs__list
      li
        a(href="#") Главная 
      li
        a(href="#") О компании 
      li
        a(href="#") О предприятии
  .category.about__wrap
    ul.category__menu
      li
        a(href="#").active О предприятии
      li
        a(href="#") История
      li
        a(href="#") Руководство
      li
        a(href="#") Сертификаты и качество
      li
        a(href="#") Реквизиты
      li
        a(href="#") Доска почета
      li
        a(href="#") Вакансии
      li
        a(href="#") Обращение граждан и юридических лиц
      li
        a(href="#") Приглашаем к сотрудничеству
      li
        a(href="#") Информация об акционерном обществе и его деятельности по состоянию на 01.01.2018
      li
        a(href="#") Противодействие коррупции
    .about
      h1.title О предприятии
      .about__slider
        .slider__about
          .slider-itm
            img(src="img/about.jpg" alt="Станок").slider-item__img
          .slider-iem
            img(src="img/about.jpg" alt="Станок").slider-item__img
          .slider-itm
            img(src="img/about.jpg" alt="Станок").slider-item__img
          .slider-itm
            img(src="img/about.jpg" alt="Станок").slider-item__img
      p.text ОАО «Барановичский завод станкопринадлежностей» — производитель универсальной зажимной технологической оснастки, необходимой для комплектации металлорежущих станков токарной, фрезерной, сверлильной и строгальной групп, а также узлов и деталей для автомобильной и тракторной техники. 
      p.text Благодаря надежности и долговечности, технологическая оснастка Барановичского завода станкопринадлежностей завоевала высокую репутацию среди ведущих станкостроительных и машиностроительных предприятий СНГ и Балтии.
      b.text Основные типы продукции, выпускаемой нашим заводом:
      ul.about__type-list
        li Патрон токарный ручной, трех или четырехкулачковый.
        li Патрон токарный механизированный двух или трехкулачковый.
        li Тиски станочные, поворотные и неповоротные, с ручным приводом, а также с гидравлическим усилением. 
        li Патрон токарный механизированный двух или трехкулачковый.
      p.text ОАО «Барановичский завод станкопринадлежностей» — производитель универсальной зажимной технологической оснастки, необходимой для комплектации металлорежущих станков токарной, фрезерной, сверлильной и строгальной групп, а также узлов и деталей для автомобильной и тракторной техники. 
      p.text Благодаря надежности и долговечности, технологическая оснастка Барановичского завода станкопринадлежностей завоевала высокую репутацию среди ведущих станкостроительных и машиностроительных предприятий СНГ и Балтии.
      img(src="img/about.jpg" alt="Цех")
      span.about__note Новый цех введенный в эксплуатацию в 2018 году
      p.text ОАО «Барановичский завод станкопринадлежностей» — производитель универсальной зажимной технологической оснастки, необходимой для комплектации металлорежущих станков токарной, фрезерной, сверлильной и строгальной групп, а также узлов и деталей для автомобильной и тракторной техники. 
      p.text Благодаря надежности и долговечности, технологическая оснастка Барановичского завода станкопринадлежностей завоевала высокую репутацию среди ведущих станкостроительных и машиностроительных предприятий СНГ и Балтии.
      span.product__description__title Вопросы и ответы:
      ol.about__question.question
        li.question__dropdown
          span Условия оплаты и доставки
          .question__answer 
            p ОАО «Барановичский завод станкопринадлежностей» — производитель универсальной зажимной технологической оснастки, необходимой для комплектации металлорежущих станков токарной, фрезерной, сверлильной и строгальной групп, а также узлов и деталей для автомобильной и тракторной техники. 
            p Благодаря надежности и долговечности, технологическая оснастка Барановичского завода станкопринадлежностей завоевала высокую репутацию среди ведущих станкостроительных и машиностроительных предприятий СНГ и Балтии.
        li.question__dropdown 
          span Как стать партнером
          .question__answer 
            p ОАО «Барановичский завод станкопринадлежностей» — производитель универсальной зажимной технологической оснастки, необходимой для комплектации металлорежущих станков токарной, фрезерной, сверлильной и строгальной групп, а также узлов и деталей для автомобильной и тракторной техники. 
            p Благодаря надежности и долговечности, технологическая оснастка Барановичского завода станкопринадлежностей завоевала высокую репутацию среди ведущих станкостроительных и машиностроительных предприятий СНГ и Балтии.
        li.question__dropdown 
          span Есть ли скидки постоянным клиентам
          .question__answer 
            p ОАО «Барановичский завод станкопринадлежностей» — производитель универсальной зажимной технологической оснастки, необходимой для комплектации металлорежущих станков токарной, фрезерной, сверлильной и строгальной групп, а также узлов и деталей для автомобильной и тракторной техники. 
            p Благодаря надежности и долговечности, технологическая оснастка Барановичского завода станкопринадлежностей завоевала высокую репутацию среди ведущих станкостроительных и машиностроительных предприятий СНГ и Балтии.
include to-top
include quick-form
include includes/form
include includes/overlay
