.container
  .breadcrumbs
    ul.breadcrumbs__list
      li
        a(href="#") Главная 
      li
        a(href="#") Каталог продукции 
      li
        a(href="#") Патроны токарные
  .category
    ul.category__menu
      li
        a(href="#") Патроны токарные
      li
        a(href="#") Кулачки и винты к токарным патронам
      li
        a(href="#") Кулачки зажимные к токарно-карусельным и тяжёлым станкам
      li
        a(href="#") Планшайба переходная
      li.active
        a(href="#") Тиски станочные
      li
        a(href="#") Устройства зажимные
      li
        a(href="#") Пневмоцилиндры
      li
        a(href="#") Гидроцилиндры
      li
        a(href="#") Головки электромеханические
      li
        a(href="#") Устройства зажимные
      li
        a(href="#") Тиски слесарные
      li
        a(href="#") Диски инструментальные
      li
        a(href="#") Столы поворотные
      li
        a(href="#") Резцедержатели
      li
        a(href="#") Суппорты
      li
        a(href="#") Тиски слесарные
      li
        a(href="#") Муфта быстроразъемная гидравлическая
      li
        a(href="#") Детали для тракторов РУП МТЗ
      li
        a(href="#") Муфты для соединения насосно-компрессорных труб
      li
        a(href="#") Прочая продукция
      li
        a(href="#") Неликвиды
    .category__products
      h1.category__products__title.title Тиски станочные
      ul.products__list.category__list
        li.products__item
          span.products__item__label.new Новинка
          a(href="#").products__item__img
            img(src="img/cat1.jpg" alt="Продукт")
          a(href="#").products__item__name 3х кулачковые клинореечные ручные самоцентрирующие
          ul.products__item__options
            li Диаметр патрона (мм)
              span 250-500
        li.products__item
          a(href="#").products__item__img
            img(src="img/cat2.jpg" alt="Продукт")
          a(href="#").products__item__name 3х кулачковые клинореечные ручные самоцентрирующие
          ul.products__item__options
            li Диаметр патрона (мм)
              span 630
        li.products__item
          span.products__item__label.req Изучение спроса
          a(href="#").products__item__img
            img(src="img/cat3.jpg" alt="Продукт")
          a(href="#").products__item__name 4х кулачковые клинореечные ручные самоцентрирующие
          ul.products__item__options
            li Диаметр патрона (мм)
              span 500
        li.products__item
          a(href="#").products__item__img
            img(src="img/cat4.jpg" alt="Продукт")
          a(href="#").products__item__name 3х кулачковые механизированные класса точности
          ul.products__item__options
            li Диаметр патрона (мм)
              span 250
        li.products__item
          span.products__item__label.discount Скидка
          a(href="#").products__item__img
            img(src="img/cat5.jpg" alt="Продукт")
          a(href="#").products__item__name 3х кулачковые высокоточные механизированные полые класса точности П и В тип ППМ
          ul.products__item__options
            li Диаметр патрона (мм)
              span 630
        li.products__item
          a(href="#").products__item__img
            img(src="img/cat6.jpg" alt="Продукт")
          a(href="#").products__item__name 4х кулачковые клинореечные ручные самоцентрирующие
          ul.products__item__options
            li Диаметр патрона (мм)
              span 500
  .catalog__description
    h4 Купить комплектующие для металлорежущих станков и автотракторной техники
    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. 
    p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
include to-top
include quick-form
include includes/form
include includes/overlay
