.container
  .breadcrumbs
    ul.breadcrumbs__list
      li
        a(href="#") Главная 
      li
        a(href="#") О компании 
      li
        a(href="#") О предприятии
  .category
    ul.category__menu
      li
        a(href="#") О предприятии
      li
        a(href="#") История
      li
        a(href="#") Руководство
      li
        a(href="#").active Сертификаты и качество
      li
        a(href="#") Реквизиты
      li
        a(href="#") Доска почета
      li
        a(href="#") Вакансии
      li
        a(href="#") Обращение граждан и юридических лиц
      li
        a(href="#") Приглашаем к сотрудничеству
      li
        a(href="#") Информация об акционерном обществе и его деятельности по состоянию на 01.01.2018
      li
        a(href="#") Противодействие коррупции
    .about
      h1.title Сертификаты и качество
      p.text Успешно работать и развиваться могут только те организации, которые предлагают своим потребителям безупречное качество продукции. Система менеджмента качества предприятия является процессно-ориентированной системой, которая способна обеспечивать требуемое качество процессов и производственной системы. Качество и конкурентоспособность выпускаемой продукции в целом удовлетворяет требованиям потребителей и подтверждается высоким покупательским спросом. 
      p.text Система менеджмента качества ОАО «БЗСП» обеспечивает координацию и взаимодействие всех подразделений и на всех уровнях управления в отношении целей и задач предприятия.
      p.text В декабре 2000 года завод получил сертификат соответствия №BY/ 112 05. 01. 009. 0064, удостоверяющий, что система качества проектирования тисков слесарных и станочных, патронов токарных ручных и механизированных, столов поворотных, муфт быстроразъёмных и устройств запорных, а также цилиндров вращающихся зажимных соответствует требованиям СТБ ИСО 9001-96.
      ul.certificate__list
        li.products__item
          a.form-modal(data-src="img/certificate.jpg" data-fancybox data-options='{"baseClass" : "fancybox-blue fancybox-cert", "touch" : "false", "smallBtn" : "false"}' href="javascript:;").products__item__img
            img(src="img/certificate.jpg" alt="Сертификат")
          a(href="#").products__item__name Сертификат сответствия СТБ ISO 9001-2015
        li.products__item
          a.form-modal(data-src="img/certificate.jpg" data-fancybox data-options='{"baseClass" : "fancybox-blue fancybox-cert", "touch" : "false", "smallBtn" : "false"}' href="javascript:;").products__item__img
            img(src="img/certificate.jpg" alt="Сертификат")
          a(href="#").products__item__name Сертификат сответствия СТБ ISO 9001-2015
            br
            | в три строчки
        li.products__item
          a.form-modal(data-src="img/certificate.jpg" data-fancybox data-options='{"baseClass" : "fancybox-blue fancybox-cert", "touch" : "false", "smallBtn" : "false"}' href="javascript:;").products__item__img
            img(src="img/certificate.jpg" alt="Сертификат")
          a(href="#").products__item__name Сертификат сответствия СТБ ISO 9001-2015
        li.products__item
          a.form-modal(data-src="img/certificate.jpg" data-fancybox data-options='{"baseClass" : "fancybox-blue fancybox-cert", "touch" : "false", "smallBtn" : "false"}' href="javascript:;").products__item__img
            img(src="img/certificate.jpg" alt="Сертификат")
          a(href="#").products__item__name Сертификат сответствия СТБ ISO 9001-2015
            br
            | в три строчки
        li.products__item
          a.form-modal(data-src="img/certificate.jpg" data-fancybox data-options='{"baseClass" : "fancybox-blue fancybox-cert", "touch" : "false", "smallBtn" : "false"}' href="javascript:;").products__item__img
            img(src="img/certificate.jpg" alt="Сертификат")
          a(href="#").products__item__name Сертификат сответствия СТБ ISO 9001-2015
        li.products__item
          a.form-modal(data-src="img/certificate.jpg" data-fancybox data-options='{"baseClass" : "fancybox-blue fancybox-cert", "touch" : "false", "smallBtn" : "false"}' href="javascript:;").products__item__img
            img(src="img/certificate.jpg" alt="Сертификат")
          a(href="#").products__item__name Сертификат сответствия СТБ ISO 9001-2015
            br
            | в три строчки
      p.text В 2009 году система менеджмента качества сертифицирована на соответствие требованиям стандарта СТБ ISO 9001-2009. Предприятие имеет собственную испытательную лабораторию, аккредитованную в национальной системе аккредитации Республики Беларусь на соответствие требований СТБ ИСО/ МЭК 17025-2007 (аттестат аккредитации № BY/ 112 02.2.0.2409 от 17.12.2001).
      p.text Предприятие постоянно участвует в конкурсах в области качества, которые позволяют объективно оценивать уровень реализации имеющихся возможностей и степень достижения поставленных целей. 
      p.text В 2003 году предприятие победило в конкурсе в области качества продукции, организованного Брестским облисполкомом, в 2004 и 2007 гг. стало лауреатом конкурса «Лучшие товары Республики Беларусь», в сентябре 2005 года – лауреатом конкурса «Лучшие товары Республики Беларусь на рынке Российской Федерации » в номинации «Продукция производственно-технического назначения».  
include to-top
include quick-form
include includes/form
include includes/overlay
