main.main
  section.slider
    .container.slider__content
      .slider-item
        .slider-item__wrap
          h1.slider-item__title Комлектующие для металлорежущих станков и автотракторной техники
          p.slider-item__text Производим и продаем универсальную зажимную технологическую оснастку для токарных, фрезерных, сверлильных и строгальных станков, а также узлы и детали для автомобильной и тракторной техники.
          a(href="#").btn.slider-item__btn Перейти в каталог
        img(src="img/stanok.png" alt="Станок").slider-item__img
      .slider-item
        .slider-item__wrap
          h2.slider-item__title Комлектующие для металлорежущих станков и автотракторной техники
          p.slider-item__text Производим и продаем универсальную зажимную технологическую оснастку для токарных, фрезерных, сверлильных и строгальных станков, а также узлы и детали для автомобильной и тракторной техники.
          a(href="#").btn.slider-item__btn Перейти в каталог
        img(src="img/stanok.png" alt="Станок").slider-item__img
      .slider-item
        .slider-item__wrap
          h2.slider-item__title Комлектующие для металлорежущих станков и автотракторной техники
          p.slider-item__text Производим и продаем универсальную зажимную технологическую оснастку для токарных, фрезерных, сверлильных и строгальных станков, а также узлы и детали для автомобильной и тракторной техники.
          a(href="#").btn.slider-item__btn Перейти в каталог
        img(src="img/stanok.png" alt="Станок").slider-item__img
      .slider-item
        .slider-item__wrap
          h2.slider-item__title Комлектующие для металлорежущих станков и автотракторной техники
          p.slider-item__text Производим и продаем универсальную зажимную технологическую оснастку для токарных, фрезерных, сверлильных и строгальных станков, а также узлы и детали для автомобильной и тракторной техники.
          a(href="#").btn.slider-item__btn Перейти в каталог
        img(src="img/stanok.png" alt="Станок").slider-item__img
      .slider-item
        .slider-item__wrap
          h2.slider-item__title Комлектующие для металлорежущих станков и автотракторной техники
          p.slider-item__text Производим и продаем универсальную зажимную технологическую оснастку для токарных, фрезерных, сверлильных и строгальных станков, а также узлы и детали для автомобильной и тракторной техники.
          a(href="#").btn.slider-item__btn Перейти в каталог
        img(src="img/stanok.png" alt="Станок").slider-item__img
  section.products
    .container
      .products__title__wrap
        h2.products__title.title Продукция
        a(href="#").products__title__link
          svg(width="35" height="41" viewBox="0 0 35 41" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.1 0C17.3 0.2 17.5 0.3 17.7 0.5C21.2 3.9 24.7 7.3 28.1 10.6C28.3 10.8 28.4 11 28.4 11.3C28.4 13.4 28.4 15.5 28.4 17.6C28.4 18 28.2 18.2 27.9 18.3C27.5 18.4 27.2 18.2 27.1 17.8C27.1 17.7 27.1 17.6 27.1 17.5C27.1 15.7 27.1 13.9 27.1 12.1C27.1 12 27.1 11.9 27.1 11.8C27 11.8 26.9 11.8 26.8 11.8C23.6 11.8 20.4 11.8 17.1 11.8C17 11.8 16.9 11.8 16.7 11.8C16.4 11.7 16.2 11.5 16.2 11.2C16.2 11.1 16.2 11 16.2 10.9C16.2 7.8 16.2 4.6 16.2 1.5C16.2 1.4 16.2 1.3 16.2 1.2C11.2 1.2 6.2 1.2 1.3 1.2C1.3 1.3 1.3 1.4 1.3 1.5C1.3 9.7 1.3 17.8 1.3 26C1.3 26.3 1.3 26.6 1 26.7C0.6 26.9 0.1 26.7 0 26.2C0 26.1 0 26 0 25.9C0 17.7 0 9.3 0 0.8C0 0.4 0.2 0.1 0.5 0C6.1 0 11.6 0 17.1 0ZM26.2 10.5C23.3 7.7 20.5 5 17.7 2.2C17.7 5 17.7 7.7 17.7 10.5C20.5 10.5 23.3 10.5 26.2 10.5Z" fill="#0045BF")
            path(d="M21.6 39.6C17.9 38.6 15.4 36.2 14.3 32.5C13.4 29.3 14.1 26.4 16.1 23.8C17.6 21.9 19.7 20.6 22.1 20.2C25.8 19.5 29.1 20.5 31.7 23.3C33.2 24.9 34.1 26.9 34.3 29.1C34.6 31.9 33.7 34.4 31.8 36.6C30.1 38.6 27.9 39.7 25.3 40C25.1 40 24.9 40 24.8 40.1C29 40 22.3 39.8 21.6 39.6ZM33.2 29.9C33.1 29.5 33.1 28.9 33 28.3C32.6 26.3 31.6 24.7 30.1 23.4C28 21.7 25.6 21 22.9 21.4C20.7 21.7 18.9 22.8 17.5 24.4C16 26.2 15.3 28.2 15.5 30.5C15.6 32.3 16.3 33.9 17.4 35.3C19.1 37.4 21.3 38.4 24 38.5C25.7 38.6 27.4 38.2 28.8 37.3C31.6 35.8 33 33.3 33.2 29.9Z" fill="#0045BF")
            path(d="M1.3 37.1C1.4 37.1 1.5 37.1 1.6 37.1C5.9 37.1 10.3 37.1 14.6 37.1C14.8 37.1 14.9 37.1 15.1 37.2C15.4 37.3 15.5 37.6 15.5 37.9C15.5 38.2 15.3 38.4 15 38.5C14.9 38.5 14.8 38.5 14.7 38.5C10.1 38.5 5.5 38.5 0.8 38.5C0.2 38.5 0 38.2 0 37.7C0 35.9 0 34.1 0 32.4C0 32.2 0 31.9 0.2 31.7C0.6 31.4 1.1 31.6 1.3 32C1.3 32.1 1.3 32.2 1.3 32.4C1.3 33.9 1.3 35.4 1.3 36.8C1.3 36.9 1.3 37 1.3 37.1Z" fill="#0045BF")
            path(d="M0.5 29C0.8 29 1 29.2 1 29.5C1 29.8 0.8 30 0.5 30C0.2 30 0 29.8 0 29.5C0 29.2 0.2 29 0.5 29Z" fill="#0045BF")
            path(d="M25.2 33.3C25.3 33.2 25.4 33.2 25.4 33.1C25.8 32.7 26.3 32.3 26.7 31.9C26.9 31.7 27.1 31.6 27.3 31.7C27.6 31.7 27.8 31.8 27.9 32.1C28 32.4 27.9 32.6 27.7 32.8C27.2 33.3 26.7 33.8 26.1 34.3C25.7 34.7 25.3 35 24.9 35.4C24.5 35.8 24.1 35.8 23.8 35.4C22.9 34.6 22 33.7 21.2 32.9C20.8 32.6 20.9 32.2 21.1 32C21.4 31.7 21.8 31.7 22.1 31.9C22.6 32.3 23 32.8 23.5 33.2C23.6 33.3 23.6 33.3 23.7 33.4C23.7 33.3 23.7 33.2 23.7 33.1C23.7 30.7 23.7 28.3 23.7 25.8C23.7 25.3 24 25.1 24.5 25.1C24.8 25.1 25 25.3 25.1 25.6C25.1 25.7 25.1 25.8 25.1 26C25.1 28.4 25.1 30.7 25.1 33.1C25.2 33 25.2 33.1 25.2 33.3Z" fill="#0045BF")
          span
            | Скачать каталог
            br
            | продукции
      ul.products__list
        li.products__item
          a(href="#").products__item__img
            img(src="img/pr1.png" alt="Продукт")
          a(href="#").products__item__name Патроны токарные
        li.products__item
          a(href="#").products__item__img
            img(src="img/pr2.png" alt="Продукт")
          a(href="#").products__item__name Столы поворотные
        li.products__item
          a(href="#").products__item__img
            img(src="img/pr3.png" alt="Продукт")
          a(href="#").products__item__name Кулачки зажимные к токарно-карусельным и тяжелым станкам
        li.products__item
          a(href="#").products__item__img
            img(src="img/pr4.png" alt="Продукт")
          a(href="#").products__item__name Тиски слесарные
        li.products__item
          a(href="#").products__item__img
            img(src="img/pr5.png" alt="Продукт")
          a(href="#").products__item__name Столы поворотные
      a(href="#").products__btn.btn Вся продукция
  section.company
    .container
      h2.company__title.title О компании
      p.company__text ОАО «Барановичский завод станкопринадлежностей» — производитель универсальной зажимной технологической оснастки, необходимой для комплектации металлорежущих станков токарной, фрезерной, сверлильной и строгальной групп, а также узлов и деталей для автомобильной и тракторной техники.
      p.company__text_sm Благодаря надежности и долговечности, технологическая оснастка Барановичского завода станкопринадлежностей завоевала высокую репутацию среди ведущих станкостроительных и машиностроительных предприятий СНГ и Балтии
      ul.company__list
        li.company__list__item
          svg(width="77" height="59" viewBox="0 0 77 59" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M76.6 16.8L61.7 1.80005C61.2 1.30005 60.4 1.30005 60 1.80005L52.5 9.30005C52.3 9.50005 52.1 9.80005 52.1 10.2C52.1 10.5 52.2 10.8 52.5 11.1L53.2 11.8L51.5 13.5C50.4 14.6 48.7 14.9 47.2 14.3C45.8 13.7 44.3 13.4 42.8 13.4C41 13.4 39.3 13.8 37.7 14.7C37.1 14.5 36.4 14.5 35.7 14.5C34.7 14.5 33.8 14.7 32.9 15C31.4 15.5 29.9 15.2 28.8 14.1L25.7 11L26.1 10.6C26.3 10.4 26.5 10.1 26.5 9.70005C26.5 9.40005 26.4 9.10005 26.1 8.80005L18.6 1.30005C18.1 0.800049 17.3 0.800049 16.9 1.30005L0.399994 18C-0.100006 18.5 -0.100006 19.3001 0.399994 19.7001L7.89999 27.2001C8.09999 27.4001 8.39999 27.6 8.79999 27.6C9.09999 27.6 9.39999 27.5 9.69999 27.2001L10.1 26.8L12.3 29C12.8 29.5 13.2 30.2001 13.3 31C14 34.9001 15.9 38.4001 18.6 41.2001L19 41.6C18.2 42.4 17.8 43.5 17.8 44.6C17.8 45.8 18.3 46.9001 19.1 47.7001C20 48.6001 21.1 49 22.2 49C22.3 49 22.3 49 22.4 49C22.3 50.2001 22.8 51.4001 23.7 52.4001C24.5 53.2001 25.6 53.7001 26.8 53.7001H26.9C26.9 54.9001 27.3 56 28.2 56.9001C29 57.7001 30.1 58.2001 31.3 58.2001C32.5 58.2001 33.6 57.7001 34.4 56.9001C34.5 56.8001 34.5 56.8 34.6 56.7001C35 56.9001 35.5 56.9001 36 56.9001C37.1 56.9001 38.1 56.5 38.9 55.7001C39.3 55.3 39.6 54.8 39.8 54.3L39.9 54.4001C40.7 55.2001 41.8 55.6 42.8 55.6C43.9 55.6 44.9 55.2001 45.7 54.4001C46.1 54 46.5 53.5 46.7 52.9001C47.4 53.4001 48.3 53.7001 49.1 53.7001C50.2 53.7001 51.2 53.3 52 52.5C52.8 51.7001 53.2 50.7 53.2 49.6C53.2 49.3 53.2 48.9 53.1 48.6C53.9 48.4 54.6 48.1 55.2 47.5C56 46.7001 56.4 45.7 56.4 44.6C56.4 43.7 56.1 42.9001 55.6 42.2001L56.6 41.2001C59.4 38.4001 61.3 34.8 62 30.9C62.1 30.2 62.4 29.6 62.9 29.1L66.6 25.4L67.2 26C67.4 26.2001 67.8 26.4 68.1 26.4C68.4 26.4 68.7 26.3 69 26L76.5 18.5C76.7 18.3 76.9 18 76.9 17.6C77 17.3001 76.9 17 76.6 16.8ZM8.69999 24.6L2.99999 18.9L17.9 4.00005L23.6 9.70005L8.69999 24.6ZM23.6 45.9001C22.8 46.7001 21.6 46.7001 20.8 45.9001C20.4 45.5 20.2 45 20.2 44.5C20.2 44 20.4 43.5 20.8 43.1C21.2 42.7 21.7 42.5 22.2 42.5C22.7 42.5 23.2 42.7 23.6 43.1C24.4 43.9 24.4 45.1001 23.6 45.9001ZM28.2 50.5C27.8 50.9001 27.3 51.1 26.8 51.1C26.3 51.1 25.8 50.9001 25.4 50.5C24.6 49.7001 24.6 48.5 25.4 47.7001C25.8 47.3 26.3 47.1 26.8 47.1C27.3 47.1 27.8 47.3 28.2 47.7001C29 48.5 29 49.8 28.2 50.5ZM32.7 55C32.3 55.4001 31.8 55.6 31.3 55.6C30.8 55.6 30.3 55.4001 29.9 55C29.1 54.2001 29.1 53 29.9 52.2001C30.3 51.8 30.8 51.6 31.3 51.6C31.8 51.6 32.3 51.8 32.7 52.2001C33.5 53 33.5 54.3 32.7 55ZM53.6 45.6C53.3 45.9 52.9 46.1 52.4 46.1C52 46.1 51.5 45.9 51.2 45.6L39.3 33.7001C38.8 33.2001 38 33.2001 37.6 33.7001C37.1 34.2001 37.1 35 37.6 35.4001L50.5 48.2001C50.8 48.5 51 48.9001 51 49.4001C51 49.8001 50.8 50.3 50.5 50.6C49.8 51.3 48.8 51.3 48.1 50.6L45.9 48.4001L35.9 38.4001C35.4 37.9001 34.6 37.9001 34.2 38.4001C33.7 38.9001 33.7 39.7 34.2 40.1L44.2 50.1C44.5 50.4 44.7 50.8 44.7 51.3C44.7 51.7001 44.5 52.2001 44.2 52.5C43.5 53.2001 42.5 53.2001 41.8 52.5L30.9 41.7001C30.4 41.2001 29.6 41.2001 29.2 41.7001C28.7 42.2001 28.7 43 29.2 43.4001L37.2 51.4001C37.5 51.7001 37.7 52.1 37.7 52.6C37.7 53 37.5 53.5 37.2 53.8C36.9 54.1 36.5 54.3 36 54.3C35.9 54.3 35.8 54.3 35.7 54.3C35.9 53 35.5 51.5 34.5 50.5C33.7 49.7001 32.6 49.2001 31.4 49.2001H31.3C31.3 48 30.9 46.9001 30 46C29.2 45.2001 28.1 44.7001 26.9 44.7001C26.8 44.7001 26.8 44.7001 26.7 44.7001C26.8 43.5 26.3 42.3001 25.4 41.4001C24.3 40.3001 22.7 39.9001 21.3 40.2001L20.4 39.3C18 36.9 16.4 33.8 15.7 30.4C15.5 29.2 14.9 28 14 27.1L11.8 25L24.1 12.7L27.2 15.8C28.4 17 30 17.6 31.6 17.6C32.3 17.6 33.1 17.5 33.8 17.2001C34.1 17.1 34.5 17 34.9 16.9L27.3 24.5C26.4 25.4 25.9 26.7001 25.9 28C25.9 29.3 26.4 30.6 27.3 31.5C28.3 32.5 29.5 32.9 30.8 32.9C32.1 32.9 33.3 32.4 34.3 31.5L38.1 27.7001L39.1 28.7001L39.2 28.8L53.6 43.2001C53.9 43.5 54.1 43.9001 54.1 44.4001C54.1 44.9001 54 45.3 53.6 45.6ZM61.4 27.3C60.5 28.2 60 29.2 59.8 30.4C59.2 33.8 57.6 36.9001 55.1 39.4001L54.2 40.3L46.4 32.5C46.6 32.5 46.7 32.5 46.9 32.5C47.7 32.5 48.5 32.4 49.3 32C49.9 31.7001 50.2 31 50 30.4C49.7 29.8 49 29.5 48.4 29.7001C45.2 31 41.4 27.4 41 27H40.8L39.8 26L41 24.8C41.5 24.3 41.5 23.5 41 23.1C40.5 22.6 39.7 22.6 39.3 23.1L37.3 25.1L32.6 29.8C31.6 30.8 30.1 30.8 29.1 29.8C28.6 29.3 28.4 28.7001 28.4 28.1C28.4 27.5 28.7 26.8 29.1 26.4L37.2 18.3C37.7 17.8 38.2 17.5 38.7 17.1C40 16.3 41.5 15.9 43 15.9C44.2 15.9 45.3 16.2 46.4 16.6C48.8 17.7 51.6 17.2 53.4 15.3L55.1 13.6L65 23.6L61.4 27.3ZM68.3 23.4L55.1 10.2L60.8 4.50005L74 17.6L68.3 23.4Z" fill="#0045BF")
          p 
            span 85
            | лет успешной работы
        li.company__list__item
          svg(width="74" height="55" viewBox="0 0 74 55" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M70.4 39.7L66 38.5C65.8 38.4 65.7 38.3 65.7 38.1V36.6C66.1 36.3 66.4 36.1 66.7 35.8C68.3 34.3 69.1 32.2 69.1 30.1V28L69.5 27.1C70 26.2 70.2 25.1 70.2 24V18.4C70.2 17.8 69.7 17.3 69.1 17.3H58.8C55 17.3 51.9 20.4 51.9 24.2V24.3C51.9 25.2 52.1 26.1 52.5 26.8L53.1 27.9V29.7C53.1 32.5 54.5 35 56.6 36.5V38.1C56.6 38.3 56.6 38.4 55.7 38.7L53.5 39.3L47.2 37C47.2 36.7 47.1 36.4 46.9 36.2L44.9 34.1V30.6C45.1 30.4 45.3 30.2 45.5 30.1C48 27.7 49.5 24.4 49.5 20.9V18.1C50.3 16.4 50.7 14.7 50.7 12.8V1.1C50.7 0.5 50.2 0 49.6 0H33.4C27.7 0 23.1 4.6 23.1 10.3V12.6C23.1 14.4 23.5 16.2 24.3 17.8V20.2C24.3 24.2 26.1 27.9 28.9 30.3V34L26.9 36.1C26.7 36.3 26.6 36.6 26.6 36.9L20 39.3C19.5 39.5 19.1 39.7 18.7 40L17.7 39.5C20.8 38.1 21.8 36.2 21.8 36.2C22 35.9 22 35.5 21.8 35.2C21 33.6 20.9 30.8 20.9 28.5C20.9 27.7 20.9 27 20.8 26.4C20.4 21.2 16.5 17.3 11.6 17.3C6.7 17.3 2.8 21.2 2.4 26.4C2.4 27 2.3 27.8 2.3 28.5C2.2 30.8 2.1 33.6 1.4 35.2C1.2 35.5 1.2 35.9 1.4 36.2C1.4 36.3 2.4 38.2 5.5 39.5L2.5 41C1 41.8 0 43.3 0 45.1V53.1C0 53.7 0.5 54.2 1.1 54.2C1.7 54.2 2.2 53.7 2.2 53.1V45.1C2.2 44.2 2.7 43.4 3.5 43L7.1 41.2L8.4 42.4C9.3 43.2 10.4 43.7 11.5 43.7C12.6 43.7 13.8 43.3 14.6 42.4L15.9 41.2L17.1 41.8C16.5 42.7 16.2 43.7 16.2 44.8V53C16.2 53.6 16.7 54.1 17.3 54.1C17.9 54.1 18.4 53.6 18.4 53V44.7C18.4 43.2 19.3 41.9 20.7 41.4L27.7 38.9L30.6 43.3C31 43.9 31.6 44.2 32.2 44.3C32.3 44.3 32.3 44.3 32.4 44.3C33 44.3 33.6 44.1 34 43.6L35.8 41.8V53C35.8 53.6 36.3 54.1 36.9 54.1C37.5 54.1 38 53.6 38 53V41.8L39.8 43.6C40.2 44 40.8 44.3 41.4 44.3C41.5 44.3 41.5 44.3 41.6 44.3C42.3 44.2 42.9 43.9 43.2 43.3L46.1 38.9L53.1 41.4C54.5 41.9 55.4 43.2 55.4 44.7V53C55.4 53.6 55.9 54.1 56.5 54.1C57.1 54.1 57.6 53.6 57.6 53V44.7C57.6 43.2 57 41.8 56 40.7L56.3 40.6C56.6 40.5 56.9 40.4 57.3 40.2L60.1 43V53C60.1 53.6 60.6 54.1 61.2 54.1C61.8 54.1 62.3 53.6 62.3 53V43.1L65 40.4C65.1 40.5 65.3 40.5 65.5 40.6L70 41.9C71 42.2 71.7 43.1 71.7 44.2V53C71.7 53.6 72.2 54.1 72.8 54.1C73.4 54.1 73.9 53.6 73.9 53V44.1C73.7 42.1 72.4 40.3 70.4 39.7ZM6.9 37.8C4.9 37.1 3.9 36.1 3.4 35.6C3.8 34.8 3.9 34 4.1 33C4.7 34.4 5.7 35.6 7 36.5V37.8H6.9ZM13.1 40.8C12.2 41.7 10.7 41.7 9.8 40.8L8.8 39.8C9 39.5 9.1 39.1 9.1 38.7V37.5C9.9 37.7 10.7 37.9 11.5 37.9C12.3 37.9 13.1 37.8 13.9 37.5V38.6C13.9 39 14 39.3 14.2 39.7L13.1 40.8ZM11.5 35.8C8.3 35.8 5.7 33.2 5.7 30C5.7 29.4 5.2 28.9 4.6 28.9C4.5 28.9 4.5 28.9 4.4 28.9C4.4 28.8 4.4 28.7 4.4 28.6C4.4 27.9 4.4 27.2 4.5 26.6C4.6 24.7 5.4 22.9 6.7 21.6C8 20.3 9.7 19.6 11.5 19.6C13.3 19.6 15 20.3 16.3 21.6C17.6 22.9 18.3 24.7 18.5 26.6C18.5 27.2 18.6 27.9 18.6 28.6C18.6 28.7 18.6 28.7 18.6 28.8C17.4 27 15.6 25.7 13.3 24.9C11.1 24.2 9.3 24.2 9.2 24.2C8.9 24.2 8.6 24.3 8.5 24.5L6.6 26.5C6 27 6 27.7 6.5 28.1C6.9 28.5 7.6 28.5 8 28.1L9.6 26.4C11 26.5 15.5 27 17.2 30.8C16.8 33.7 14.4 35.8 11.5 35.8ZM16 37.8V36.5C17.3 35.6 18.3 34.4 18.9 33C19 33.9 19.2 34.8 19.5 35.6C19.1 36.1 18 37.1 16 37.8ZM26.4 20.3V17.6C26.4 17.4 26.4 17.3 26.3 17.1C25.6 15.7 25.3 14.1 25.3 12.6V10.3C25.3 5.8 29 2.1 33.5 2.1H48.6V12.6C48.6 14.2 48.2 15.7 47.6 17.1C47.5 17.2 47.5 17.4 47.5 17.6V20.7C47.5 23.6 46.3 26.3 44.2 28.3C43.9 28.5 43.7 28.8 43.4 29C41.4 30.5 39 31.3 36.4 31.1C30.7 30.8 26.4 26 26.4 20.3ZM32.5 42C32.5 42.1 32.5 42.1 32.5 42C32.4 42 32.4 42 32.4 42L29 37L30.1 35.9L35.2 39.4L32.5 42ZM36.9 37.9L31.1 33.9V31.9C32.6 32.7 34.3 33.2 36.1 33.3C36.4 33.3 36.7 33.3 36.9 33.3C39 33.3 41 32.8 42.7 31.9V33.9L36.9 37.9ZM41.4 42C41.4 42 41.4 42.1 41.4 42C41.3 42 41.3 42 41.3 42L38.6 39.3L43.7 35.8L44.8 36.9L41.4 42ZM61.1 41.1L58.6 38.6C58.6 38.4 58.7 38.2 58.7 38V37.5C59.4 37.7 60.1 37.9 60.8 37.9C60.9 37.9 61 37.9 61 37.9C61.8 37.9 62.6 37.8 63.4 37.5V38C63.4 38.2 63.4 38.4 63.5 38.6L61.1 41.1ZM65.2 34.1C64.1 35.2 62.5 35.8 60.9 35.7C57.8 35.6 55.2 32.9 55.2 29.6V27.6C55.2 27.4 55.2 27.3 55.1 27.1L54.4 25.8C54.2 25.3 54 24.8 54 24.2V24.1C54 21.5 56.1 19.4 58.7 19.4H68V24C68 24.7 67.8 25.5 67.5 26.1L67 27.2C66.9 27.3 66.9 27.5 66.9 27.7V30C66.9 31.5 66.3 33 65.2 34.1Z" fill="#0045BF")
          p 
            span 150
            | сотрудников
        li.company__list__item
         svg(width="67" height="80" viewBox="0 0 67 80" fill="none" xmlns="http://www.w3.org/2000/svg")
           path(d="M62.6 49.6L60 44.5C60.5 43.4 61 42.3 61.4 41.2L66.8 39.4V24.8L61.4 23C61 21.9 60.6 20.8 60 19.7L62.5 14.6L52.2 4.2L47.1 6.7C46 6.2 44.9 5.7 43.8 5.3L42 0H27.3L25.5 5.4C24.4 5.8 23.3 6.2 22.2 6.8L17.1 4.3L6.8 14.6L9.3 19.7C8.8 20.8 8.3 21.9 7.9 23L2.5 24.8V39.5L7.9 41.3C8.3 42.4 8.7 43.5 9.3 44.6L7.6 47.6H0V73.3H9V69.4H18.7L22.6 73.3H29.6V74.6C29.6 77.4 31.9 79.7 34.7 79.7C37.5 79.7 39.8 77.4 39.8 74.6V73.3H48.8C50.9 73.3 52.7 71.6 52.7 69.4C52.7 68.4 52.3 67.5 51.7 66.8C52.3 66.1 52.7 65.2 52.7 64.2C52.7 63.2 52.3 62.3 51.7 61.6C52.2 61.1 52.5 60.4 52.6 59.6L62.6 49.6ZM11.9 43.9C11.2 42.5 10.6 41.2 10.2 39.8L10 39.2L5.2 37.6V26.6L10 25L10.2 24.4C10.6 23 11.2 21.7 11.9 20.3L12.2 19.7L9.9 15.1L17.7 7.3L22.3 9.6L22.9 9.3C24.3 8.6 25.6 8 27 7.6L27.6 7.4L29.2 2.6H40.2L41.8 7.4L42.4 7.6C43.8 8 45.1 8.6 46.5 9.3L47.1 9.6L51.7 7.3L59.5 15.1L57.2 19.7L57.5 20.3C58.2 21.7 58.8 23 59.2 24.4L59.4 25L64.2 26.6V37.6L59.4 39.2L59.2 39.8C58.8 41.2 58.2 42.5 57.5 43.9L57.2 44.5L59.5 49.1L51.9 56.7C51.8 56.6 51.8 56.5 51.7 56.4C52.3 55.7 52.7 54.8 52.7 53.8C52.7 51.8 51.2 50.2 49.2 50C54.6 45.6 57.8 39.1 57.8 32C57.8 19.4 47.4 9 34.7 9C22 9 11.6 19.4 11.6 32.1C11.6 39.1 14.8 45.7 20.2 50.1H9.2L12.2 44.6L11.9 43.9ZM50.1 64.2C50.1 64.9 49.5 65.5 48.8 65.5H38.5C37.8 65.5 37.2 64.9 37.2 64.2C37.2 63.5 37.8 62.9 38.5 62.9H48.8C49.5 62.9 50.1 63.5 50.1 64.2ZM31.6 32.1H37.8L39.8 30.1V24.4C41.2 24.4 42.4 25.6 42.4 27V32.9L38 37.2H31.4L27 32.9V27C27 25.6 28.2 24.4 29.6 24.4V30.1L31.6 32.1ZM32.1 39.8H37.2V44.9H32.1V39.8ZM39.8 39.1L44.9 34V27C44.9 24.2 42.6 21.9 39.8 21.9H37.2V29L36.7 29.5H32.6L32.1 29V21.8H29.5C26.7 21.8 24.4 24.1 24.4 26.9V33.9L29.5 39V44.9H26.4V45C22 42.2 19.3 37.3 19.3 32.1C19.3 23.6 26.2 16.7 34.7 16.7C43.2 16.7 50.1 23.6 50.1 32.1C50.1 37.3 47.5 42.1 43.1 44.9H39.8V39.1ZM52.6 32.1C52.6 22.2 44.5 14.1 34.6 14.1C24.7 14.1 16.6 22.2 16.6 32.1C16.6 38 19.6 43.6 24.4 46.9L22.6 48.7C17.3 44.8 14.1 38.7 14.1 32.1C14.1 20.8 23.3 11.6 34.6 11.6C45.9 11.6 55.1 20.8 55.1 32.1C55.1 38.4 52.2 44.3 47.3 48.2C47.2 47.3 46.7 46.5 46 45.9C50.3 42.5 52.6 37.5 52.6 32.1ZM48.8 52.6C49.5 52.6 50.1 53.2 50.1 53.9C50.1 54.6 49.5 55.2 48.8 55.2H38.5C37.8 55.2 37.2 54.6 37.2 53.9C37.2 53.2 37.8 52.6 38.5 52.6H48.8ZM38.5 60.3C37.8 60.3 37.2 59.7 37.2 59C37.2 58.3 37.8 57.7 38.5 57.7H48.8C49.5 57.7 50.1 58.3 50.1 59C50.1 59.7 49.5 60.3 48.8 60.3H38.5ZM6.4 70.6H1.6V50.1H6.5V70.6H6.4ZM23.6 70.6L19.7 66.7H9V52.6H22.4L27.5 47.5H43.7C44.4 47.5 45 48.1 45 48.8C45 49.5 44.4 50.1 43.7 50.1H30.3L24.8 55.6L26.6 57.4L29.5 54.5V70.7H23.6V70.6ZM34.7 77C33.3 77 32.1 75.8 32.1 74.4V52.6H34.9C34.8 53 34.7 53.4 34.7 53.9C34.7 54.9 35.1 55.8 35.7 56.5C35.1 57.2 34.7 58.1 34.7 59.1C34.7 60.1 35.1 61 35.7 61.7C35.1 62.4 34.7 63.3 34.7 64.3C34.7 65.3 35.1 66.2 35.7 66.9C35.1 67.6 34.7 68.5 34.7 69.5C34.7 71.2 35.8 72.6 37.3 73.1V74.6C37.2 75.9 36.1 77 34.7 77ZM48.8 70.6H38.5C37.8 70.6 37.2 70 37.2 69.3C37.2 68.6 37.8 68 38.5 68H48.8C49.5 68 50.1 68.6 50.1 69.3C50.1 70 49.5 70.6 48.8 70.6Z" fill="#0045BF")
         p 
           span 2 500+
           | типоразмеров оснастки
        li.company__list__item
          svg(width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M34.6 0C20.7 0 8.20001 8.2 2.80001 21L2.40001 21.1L2.60001 21.6C-4.59999 39.3 4.00001 59.4 21.6 66.6C25.7 68.3 30.1 69.1 34.6 69.1C53.7 69.1 69.2 53.6 69.2 34.5C69.1 15.5 53.7 0 34.6 0ZM61.7 52L59.9 50.2V46.1C59.9 45.9 59.9 45.7 59.8 45.6L55.3 36.6V32.3C55.3 31.9 55.1 31.6 54.8 31.3L51.3 29C51 28.8 50.7 28.8 50.4 28.8L46.2 29.9L39.1 26.8L38.1 19.9L40.8 17.2H46.6L48.6 20.1C48.8 20.4 49.1 20.5 49.4 20.6L56.3 21.8C56.5 21.8 56.7 21.8 56.9 21.8L63.3 19.7C68.5 30 68 42.3 61.7 52ZM56.9 11.4L55 12.6L49.8 11.6L46.4 10.5C46.2 10.4 46 10.4 45.8 10.5L41.5 11.6L39.6 11L41 8.1H44.9C45.1 8.1 45.3 8.1 45.4 8L49.4 6C52.2 7.4 54.7 9.2 56.9 11.4ZM22 4.9L24.8 6.7C24.9 6.8 25.1 6.9 25.3 6.9L30.9 7.8L30.4 9.4L27.5 10.4C27.2 10.5 27 10.7 26.9 10.9L23.6 16.4L18 19.6L10.2 20.7C9.60001 20.8 9.20001 21.3 9.20001 21.8V25.3C9.20001 25.6 9.30001 25.9 9.50001 26.1L11.5 28.1V30.1L6.70001 26.9L5.00001 21.7C8.30001 14.1 14.4 8.1 22 4.9ZM18.7 42.6L13.5 41.6L11.6 37.7V35L15.9 30.7L17.5 33.9C17.7 34.3 18.1 34.5 18.5 34.5H25.9L29 39.7C29.2 40 29.6 40.3 30 40.3H33.2L32.4 44.3L28 48.7C27.8 48.9 27.7 49.2 27.7 49.5V52.4L23.6 55.5C23.3 55.7 23.1 56.1 23.1 56.4V60.6L21.7 60.1L19.7 55V43.8C19.6 43.2 19.2 42.8 18.7 42.6ZM15.2 60.4C4.30001 52.2 -0.199988 38.1 3.70001 25.1L4.70001 28C4.80001 28.2 4.90001 28.5 5.20001 28.6L10.9 32.4L9.60001 33.7C9.40001 33.9 9.30001 34.2 9.30001 34.5V38C9.30001 38.2 9.30001 38.4 9.40001 38.5L11.7 43.1C11.9 43.4 12.2 43.6 12.5 43.7L17.3 44.7V55.3C17.3 55.4 17.3 55.6 17.4 55.7L19.7 61.5C19.8 61.8 20.1 62.1 20.4 62.2L23.9 63.4C24 63.4 24.1 63.5 24.3 63.5C24.9 63.5 25.5 63 25.5 62.3V57L29.6 53.9C29.9 53.7 30.1 53.3 30.1 53V50L34.4 45.7C34.6 45.5 34.7 45.3 34.7 45.1L35.9 39.3C36 38.7 35.6 38.1 35 37.9C34.9 37.9 34.9 37.9 34.8 37.9H30.8L27.7 32.7C27.5 32.4 27.1 32.1 26.7 32.1H19.3L17.3 28.1C17.1 27.8 16.8 27.5 16.5 27.5C16.1 27.4 15.8 27.6 15.5 27.8L14 29.3V27.5C14 27.2 13.9 26.9 13.7 26.7L11.7 24.7V22.7L18.8 21.7C19 21.7 19.1 21.6 19.2 21.5L25 18C25.2 17.9 25.3 17.8 25.4 17.6L28.6 12.2L31.7 11.2C32 11.1 32.3 10.8 32.4 10.5L33.6 7C33.8 6.4 33.5 5.7 32.9 5.5C32.8 5.5 32.8 5.5 32.7 5.5L26 4.4L24.8 3.6C32 1.2 39.9 1.5 47 4.4L44.9 5.5H40.6C40.2 5.5 39.8 5.7 39.6 6.1L37 11C36.7 11.6 36.9 12.3 37.5 12.5C37.5 12.5 37.6 12.5 37.6 12.6L41.1 13.8C41.3 13.9 41.5 13.9 41.7 13.8L46 12.7L49.1 13.7H49.2L55 14.9C55.3 15 55.6 14.9 55.9 14.7L58.5 13C59.8 14.4 61 16 62 17.6L56.3 19.5L50.2 18.5L48.2 15.5C48 15.2 47.6 15 47.2 15H40.3C40 15 39.7 15.1 39.5 15.3L36 18.8C35.7 19.1 35.6 19.4 35.7 19.8L36.9 27.9C37 28.3 37.2 28.6 37.6 28.8L45.7 32.3C45.9 32.4 46.2 32.4 46.4 32.4L50.5 31.4L53 33.1V37.1C53 37.3 53 37.5 53.1 37.6L57.6 46.6V50.9C57.6 51.2 57.7 51.5 57.9 51.7L60.3 54.1C49.7 68.2 29.5 71 15.2 60.4Z" fill="#0045BF")
          p 
            span 130+
            | дилеров в странах СНГ
      a(href="#").btn.company__btn Подробнее
  section.news
    .container
      h2.title Новости
      ul.news-slider
        li
          .news-slider__item
            img(src="img/news_img.jpg")
            .news-slider__item__wrap
              span.news-slider__date 08 февраля 2019
              a(href="#").news-slider__link Наличие продукции на складе
              p.news-slider__text Уважаемые партнеры, доводим до Вашего сведения, что мы выпустили и подготовили к отгрузке следующие виды изделий...
        li
          .news-slider__item
            img(src="img/news_img1.jpg")
            .news-slider__item__wrap
              span.news-slider__date 07 февраля 2019
              a(href="#").news-slider__link Внеочередное общее собрание акционеров
              p.news-slider__text 14.02.2019 г. в 16 часов по адресу: г. Барановичи, ул. Пролетарская, 40 состоится внеочередное общее собрание акционеров.
        li
          .news-slider__item
            img(src="img/news_img2.jpg")
            .news-slider__item__wrap
              span.news-slider__date 28 декабря 2018
              a(href="#").news-slider__link С Новым Годом и Рождеством!
              p.news-slider__text Уважаемые партнеры! С Новым годом! Желаем вам светлых идей и оптимизма в новом году, выгодных дел и блестящих перспектив...
        li
          .news-slider__item
            img(src="img/news_img2.jpg")
            .news-slider__item__wrap
              span.news-slider__date 28 декабря 2018
              a(href="#").news-slider__link С Новым Годом и Рождеством!
              p.news-slider__text Уважаемые партнеры! С Новым годом! Желаем вам светлых идей и оптимизма в новом году, выгодных дел и блестящих перспектив...
        li
          .news-slider__item
            img(src="img/news_img2.jpg")
            .news-slider__item__wrap
              span.news-slider__date 28 декабря 2018
              a(href="#").news-slider__link С Новым Годом и Рождеством!
              p.news-slider__text Уважаемые партнеры! С Новым годом! Желаем вам светлых идей и оптимизма в новом году, выгодных дел и блестящих перспектив...
        li
          .news-slider__item
            img(src="img/news_img2.jpg")
            .news-slider__item__wrap
              span.news-slider__date 28 декабря 2018
              a(href="#").news-slider__link С Новым Годом и Рождеством!
              p.news-slider__text Уважаемые партнеры! С Новым годом! Желаем вам светлых идей и оптимизма в новом году, выгодных дел и блестящих перспектив...
      a(href="#").btn.news__btn Все новости      
include to-top
include quick-form
include includes/form
include includes/overlay
