.container
  .breadcrumbs
    ul.breadcrumbs__list
      li
        a(href="#") Главная
      li
        a(href="#") О компании 
      li
        a(href="#") Новости
  .news-page
    h1.title Новости
    ul.news__list
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img.jpg")
          .news-slider__item__wrap
            span.news-slider__date 08 февраля 2019
            a(href="#").news-slider__link Наличие продукции на складе
            p.news-slider__text Уважаемые партнеры, доводим до Вашего сведения, что мы выпустили и подготовили к отгрузке следующие виды изделий...
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img1.jpg")
          .news-slider__item__wrap
            span.news-slider__date 07 февраля 2019
            a(href="#").news-slider__link Внеочередное общее собрание акционеров
            p.news-slider__text 14.02.2019 г. в 16 часов по адресу: г. Барановичи, ул. Пролетарская, 40 состоится внеочередное общее собрание акционеров.
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img2.jpg")
          .news-slider__item__wrap
            span.news-slider__date 28 декабря 2018
            a(href="#").news-slider__link С Новым Годом и Рождеством!
            p.news-slider__text Уважаемые партнеры! С Новым годом! Желаем вам светлых идей и оптимизма в новом году, выгодных дел и блестящих перспектив...
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img.jpg")
          .news-slider__item__wrap
            span.news-slider__date 08 февраля 2019
            a(href="#").news-slider__link Наличие продукции на складе
            p.news-slider__text Уважаемые партнеры, доводим до Вашего сведения, что мы выпустили и подготовили к отгрузке следующие виды изделий...
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img1.jpg")
          .news-slider__item__wrap
            span.news-slider__date 07 февраля 2019
            a(href="#").news-slider__link Внеочередное общее собрание акционеров
            p.news-slider__text 14.02.2019 г. в 16 часов по адресу: г. Барановичи, ул. Пролетарская, 40 состоится внеочередное общее собрание акционеров.
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img2.jpg")
          .news-slider__item__wrap
            span.news-slider__date 28 декабря 2018
            a(href="#").news-slider__link С Новым Годом и Рождеством!
            p.news-slider__text Уважаемые партнеры! С Новым годом! Желаем вам светлых идей и оптимизма в новом году, выгодных дел и блестящих перспектив...
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img.jpg")
          .news-slider__item__wrap
            span.news-slider__date 08 февраля 2019
            a(href="#").news-slider__link Наличие продукции на складе
            p.news-slider__text Уважаемые партнеры, доводим до Вашего сведения, что мы выпустили и подготовили к отгрузке следующие виды изделий...
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img1.jpg")
          .news-slider__item__wrap
            span.news-slider__date 07 февраля 2019
            a(href="#").news-slider__link Внеочередное общее собрание акционеров
            p.news-slider__text 14.02.2019 г. в 16 часов по адресу: г. Барановичи, ул. Пролетарская, 40 состоится внеочередное общее собрание акционеров.
      li.news__list__item
        .news-slider__item
          a(href="#")
            img(src="img/news_img2.jpg")
          .news-slider__item__wrap
            span.news-slider__date 28 декабря 2018
            a(href="#").news-slider__link С Новым Годом и Рождеством!
            p.news-slider__text Уважаемые партнеры! С Новым годом! Желаем вам светлых идей и оптимизма в новом году, выгодных дел и блестящих перспектив...
      
    ul.pagination.news__pagination
      li.pagination__item
        svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(opacity="0.3" d="M7 12L1 6.50001L7 1.00002" stroke="black")
      li.pagination__item.active
        a(href="#") 1
      li.pagination__item
        a(href="#") 2
      li.pagination__item
        a(href="#") 3
      li.pagination__item
        a(href="#") 4
      li.pagination__item
        svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M1 1L7 6.5L1 12" stroke="black")
include to-top
include quick-form
include includes/form
include includes/overlay
